html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

pre, code {
  font-family: 'DM Mono', 'SFMono-Regular', Consolas, Liberation Mono, Menlo,
    Courier, monospace;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}
